
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 200;
}

.App-header {
    padding: 25px 0;
    text-align: center;
    background: #607D8B;
}

.App-Footer {
    padding: 25px 0;

}

.card-group > .card {
    position: relative;
    overflow: hidden;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease-out;
}
.card-group > .card:first-child {
    min-width: 40%;
}

.card-group > .card img {
    transition: transform 5s ease-in-out;
}
.card-group > .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.card-group > .card:hover img {
    transform: scale(1.2) translateY(-10%);
}


.loading {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    z-index: 9999;
    background: url(loding-cube.gif) center no-repeat;
    background-size: 50% auto;
}